{% extends 'base.html' %}
{% block content %}
<h2 class="mdl-typography--display-1">Space: {{ space.name }}</h2>
<ul class="mdl-list">
    {% for assignment in assignments %}
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="{{ url_for('assignment_detail', assignment_id=assignment.id) }}">{{ assignment.title }}</a>
            </span>
            {% if session.role == 'master' %}
                <span class="mdl-list__item-secondary-action">
                    <a class="mdl-button mdl-js-button mdl-button--icon" href="{{ url_for('edit_assignment', assignment_id=assignment.id) }}">
                        <i class="material-icons">edit</i>
                    </a>
                </span>
            {% endif %}
        </li>
    {% else %}
        <li class="mdl-list__item">No assignments yet.</li>
    {% endfor %}
</ul>
{% if session.role == 'master' %}
<h3 class="mdl-typography--title">Create Assignment</h3>
<form method="POST" action="{{ url_for('create_assignment', space_id=space.id) }}" enctype="multipart/form-data">
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" name="title" id="title" required>
        <label class="mdl-textfield__label" for="title">Title</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" name="description" id="description"></textarea>
        <label class="mdl-textfield__label" for="description">Description</label>
    </div><br>
    <input class="mdl-textfield__input" type="datetime-local" name="due_date"><br>
    <label class="mdl-textfield">Solution File (optional)</label>
    <input type="file" name="solution" accept="application/pdf, text/*"><br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Create</button>
</form>
{% endif %}
{% endblock %}
